.input-profile-container {
    background-color: #162136;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Instrument Sans", sans-serif;
    text-align: center;
  }
  
  .profile-title {
    font-size: 2.5rem;
    font-family: "Cormorant Sans", serif;
    margin-bottom: 2rem;
  }
  
  .inline-form p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 1.5rem 0;
  }
  
  .input-field {
    background-color: #162136; /* Same as the background */
    color: white;
    border: none;
    border-bottom: 2px solid white;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
    width: 12rem; /* Adjust width for better alignment */
  }
  
  .input-field::placeholder {
    color: #d3d3d3;
  }
  
  .input-field:focus {
    outline: none;
    border-bottom: 2px solid #00aaff; /* Highlight on focus */
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%); /* White icons for dark background */
  }
  
  .generate-chart-button {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    background-color: white;
    color: #162136;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .generate-chart-button:hover {
    background-color: #e0e0e0;
    color: #162136;
  }